Eyy yyoyoyo okokok
<% @resp_arr.each do |x| %>
	<p><%= x %></p>
<% end %>
<!-- <#% @response.body['results'].each do |x| %>
	<#% @link = x["capitolwords_url"] %>
	<#% @speaker_name = x["speaker_first"] + " " + x["speaker_last"] %>
	<#% x["speaking"].each do |i|%>
		<p><#= link_to i, @link %> <br>-<#%=@speaker_name%></p>
	<#% end %>
<#% end %> -->